.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.header {
  text-align: center;
  font-size: 64px;
  font-weight: 600;
  color: white;
}

.bio {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  margin-top: 16px;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
}